#main{
    height:400px;
    width:400px;
    background-color:white;
    /* border-color: black; */
    border-radius: 20px;
    /* border-width: 3px;
    border-style: solid; */
    transition-property: all;
    transition-timing-function: ease-in;
    transition-delay: 0.6s;
    transition-duration: 0.6s;
   box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
}
input{
    border-radius: 10px;
    height:30px;
    position: relative;
    top:40px;
    left:50px;
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
#delete{
    border-radius: 10px;
    position: relative;;
    top:5px;
    left:220px;
    height:34px;
    width:70px;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    
}
a{
    text-decoration: none;
    color:red;
}
#delete:hover{
     /* width:75px;
    height:38px; */
     border-color:aqua;
    border-width: 2px;
    border-style: solid;
}
#add{
    border-radius: 10px;
     position: relative;
    top:5px;
    left:250px; 
    height:34px;
    width:70px;
    transition-property: all;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    
}
#add:hover{
    /* width:75px;
    height:38px; */
     border-color:aqua;
    border-width: 2px;
    border-style: solid;
}
input:hover{
    /* height:40px;
    width:170px; */
    width:180px;
    border-color:aqua;
    border-width: 2px;
    border-style: solid;
}
#main:hover{
    background-color: rgb(18, 16, 16);
    border-color:rgb(116, 64, 74);
    border-width: 1px;
    border-style: solid;
}
@keyframes horizontal{
    from{width:20px;}
    to{width:300px;opacity: 0;}
}
#hr{
    height: 2.5px;
    background-color: red;
   width:20px;
   animation-name: horizontal;
   animation-timing-function: ease-in;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   animation-delay: 2.5s;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: hideLoader 2s forwards;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  animation-timing-function: ease-in
}
body{
animation-name: fade;
animation-timing-function: ease-in;
animation-delay: 1.7s;
animation-duration: 1.9s;
animation-fill-mode: forwards;
background-size: cover;        
background-position: center;   
background-attachment: fixed; 

}
@keyframes fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes spin {
  to { transform: rotate(10000deg); }
}

@keyframes hideLoader {
  0% { opacity: 1; visibility: visible; }
  99% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}

h1{
    text-align: center;
    animation-name: header;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-duration: 2s;
    font-family:cursive;
}
#a1{
    color:blue;
}
@keyframes header{
    from{color:white;}
    to{color:black;}
}
#body{
    height:500px;
    display: flex;
    justify-content: center;
    align-items:first center;
}
#list{
    height:300px;
    width:400px;
    background-color: white;
    position: relative;
    top:50px;
    border-radius: 5px;
}
#list p{
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    color:rgb(32, 30, 27);
    padding: 8px 12px;
    margin: 6px 0;
    background: #f7f7f7;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.delBtn{
   
   
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    background-color: white;
    border-color: brown;
    height: 30px;
    border-radius: 5px;
}
.delBtn:hover{
    border-color: red;
    background-color: black;
    color:red
}


